body {
    background: linear-gradient(135deg, #1e3c72, #2a5298, #4b2a88);
    color: #ffffff;
    font-family: Calibri;
    font-size: 20px;
}

#Meilleur {
    border-spacing: 20px 0px;
}

.Icon {
    height: 70px;
    width: auto;
    transition: 0,5s;
}

.Icon:hover {
    height: 63px;
    width: auto;
}

#Logo {
    height: 50px;
    width: auto;
    position: absolute;
    top: 20px;
}

#Accueil {
    position: absolute;
    top: 20px;
    left: 575px;
}

#TitreAccueil {
    text-decoration: underline;
    position: absolute;
    top: 100px;
    left: 775px;
}

#Description_meilleur {
    width: 600px;
    height: auto;
    color: #8899aa;
}

#imgaccueil {
    width: 300px;
    height: auto;
    border-radius: 20px;
}

#musicaccueil{
    position: absolute;
    top: 200px;
    left: 700px;
}

#txtsecondair {
    color: #aab4c4;
}

#Paroleaccueil {
    position: absolute;
    top: 50px;
    left: 1150px;
    width: 400px;
    height: auto;
    font-size: 15px;
}

#btnaccueil{
    position: absolute;
    top: 330px;
}

#AccueilPlaylistArtist {
    position: absolute;
    top: 90px;
    border-spacing: 20px;
}

a:hover{
    color: #ff6a00;
}

a {
    color: #ffffff;
    text-decoration: none;
}

#MeilleurMoment{
    position: absolute;
    top: 150px;
}